#startknop {
  background-color: black;
  color: white;
}
#click {
  background-color: red;
  display: inline-block;
  font-size: 20px;
  visibility: hidden;
}
td {
  border: 1px solid #000;
}
table {
  border-collapse: collapse;
}
button {
  background-color: aqua;
}
